<!-- <form> -->
  <!-- <div class="form-group"> -->
    <!-- <label for="search-input">Search</label> -->
    <input type="text" style="margin: 20px 0px" [(ngModel)]="searchText" name="search" id="search-input" class="form-control" placeholder="Silahkan cari" value="" />
    <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  <!-- </div> -->
<!-- </form> -->


<!-- <hr> -->

<!-- <table class="table table-striped">
  <thead>
  <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Speciality</td>
      <td>Area</td>
      <td>Currency</td>
      <td>Rate</td>
      <td>Photo</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of dataLists | filter: searchText">
    <td>{{data.id}}</td>
    <td>{{data.name}}</td>
    <td>{{data.speciality}}</td>
    <td>{{data.area}}</td>
    <td>{{data.currency}}</td>
    <td>{{data.rate}}</td>
    <td>{{data.photo}}</td>
  </tr>
  </tbody>
</table> -->

<div style="width: 100%; display: flex; flex-wrap: wrap; min-height: 62vh">
  <div *ngFor="let data of dataLists | filter: searchText">
    <div class="card" style="width: 18rem; height:620px; margin: 10px;">
      <img src="{{data.photo}}" class="card-img-top" alt="{{data.name}}" >
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title" style="text-align: center">{{data.name}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p> Id </p>
          </div>
          <div class="col">
            <p> : {{data.id}} </p>
          </div>
        </div> 
        <!-- <div class="row">
          <div class="col">
            <p> Name </p>
          </div>
          <div class="col">
            <p> : {{data.name}} </p>
          </div>
        </div>  -->
        <div class="row">
          <div class="col">
            <p> Speciality </p>
          </div>
          <div class="col">
            <p> : {{data.speciality}} </p>
          </div>
        </div> 
        <div class="row">
          <div class="col">
            <p> Area </p>
          </div>
          <div class="col">
            <p> : {{data.area}} </p>
          </div>
        </div> 
        <div class="row">
          <div class="col">
            <p> Currency </p>
          </div>
          <div class="col">
            <p> : {{data.currency}} </p>
          </div>
        </div> 
        <div class="row">
          <div class="col">
            <p> Rate </p>
          </div>
          <div class="col">
            <p> : {{data.rate}} </p>
          </div>
        </div> 
        <!-- <h5 class="card-title">{{data.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <!-- <button (click)="openModal()" class="btn btn-primary" [routerLink]="['location','{{data.id}}']" > Detail </button> -->
        <!-- <button (click)="onSelect(data)" class="btn btn-primary" routerLink="/location/{{data.id}}"> Detail </button> -->
        <button class="btn btn-primary" [routerLink]="['/location-detail/'+data.id]" > Detail </button>
      </div>
    </div>
  </div>
</div>

<!-- <p>Restricted size with rotation:</p>
<ngb-pagination [collectionSize]="locations.length" [(page)]="page" [pageSize]="10" (pageChange)="onPageChange($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination> -->