<!-- <form> -->
  <!-- <div class="form-group"> -->
    <!-- <label for="search-input">Search</label> -->
    <input type="text" style="margin-top: 20px" [(ngModel)]="searchText" name="search" id="search-input" class="form-control" placeholder="Silahkan cari" value="" />
    <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  <!-- </div> -->
<!-- </form> -->


<!-- <hr> -->
<!-- <pre>Model: {{ model | json }}</pre> -->
<!-- <ul *ngFor="let location of locations">
  <li> {{ location.area }} </li>
</ul> -->

<table class="table table-striped">
  <thead>
  <tr>
    <th>Area</th>
    <th>City</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let location of locations | filter: searchText">
    <td>{{location.area}}</td>
    <td>{{location.city}}</td>
  </tr>
  </tbody>
</table>

<!-- <table>
  <tr *ngFor="let location of locations | filter: searchText">
    <td *ngIf="i<10">
      <p> {{ location.area }}  dan {{ i }}</p> 
    </td>
    
    <td> {{ location.area }} </td>
  </tr>
</table> -->

<!-- <p>Restricted size with rotation:</p>
<ngb-pagination [collectionSize]="locations.length" [(page)]="page" [pageSize]="10" (pageChange)="onPageChange($event)" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination> -->